doctype html
html
  head
    title= title
    script(src='/lib/bootstrap/bootstrap.min.js')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    